.info-container {
    background-color: #e0f7e9; /* Un verde claro */
    color: #2e7d32; /* Un verde oscuro para el texto */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 2.5em;
    margin-bottom: 15px;
    text-align: center;
  }
  
  p {
    font-size: 1.2em;
    line-height: 1.6;
    margin: 10px 0;
  }
  